@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background: white;
}

:root {
	font-size: 16px;
}


select,
input {
	border-bottom: 1px solid #B3B3B3;
	padding: 12px !important;
	margin: 0;
	font-size: 1.2em;
	max-width: 100%;
	background: transparent;
	position: relative;
	margin-bottom: 12px;
	margin-top: 4px;
	color: #B3B3B3 !important;
	outline: none !important;
}

input,
select {
	margin-bottom: 24px !important;
}


button[type="submit"] {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 44px;
	background: #35B6AA !important;
	background-color: #35B6AA !important;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 100%;
	transition: ease-in-out .3s;
	padding: 2rem;
	outline: none;
	border: none;
	border-radius: 0.75rem;
	cursor: pointer;
}

button[type="submit"]:hover {
	background: #35b6a983 !important;
	background-color: #35b6a983 !important;
	color: white;
}

/* M E N U */
.redesign-menu {
	margin: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 8px 0px;
	background: #FFFFFF;
	transition: ease-in-out .3s;
	z-index: 999;
	backdrop-filter: blur(10px);
}

.redesign-menu:hover {
	background: white;
}

.redesign-menu img {
	object-fit: contain;
	max-height: 36px;
}

.redesign-menu ul li a {
	box-sizing: border-box;
	padding: 4px 22px;
	color: black;
	font-style: normal;
	font-weight: 500;
	border-radius: 0.75rem;
	font-size: 14px;
	line-height: 28px;
	display: flex;
	align-items: center;
	transition: ease-in-out .3s;
	outline: none;
	border: none;
	text-decoration: none;
}

.redesign-menu ul li a:hover {
	background: white;
	color: #5A5A5A;
}

.redesign-menu ul li .redesign-menu__green-link {
	background: #35B6AA;
	border-radius: 100rem;
	color: white;
}

.redesign-menu ul li .redesign-menu__green-link:hover {
	background: #35B6AA;
	color: white;
}

@keyframes fade {
	from {
		opacity: .8
	}

	to {
		opacity: 1
	}
}

.redesign__testimonial-video {
	position: fixed;
	z-index: 999;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
}

.redesign__testimonial-video--content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 12px;
}

.redesign__testimonial-video--video {
	background-color: #AAAAAA;
}

.redesign__testimonial-video--button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2px 12px;
	gap: 12px;
	background: rgba(255, 255, 255, 0.75);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: right;
	color: #5A5A5A;
	user-select: none;
	cursor: pointer;
}

.redesign__testimonial-video--button img {
	width: 16px;
}

/* F O O T E R */
.redesign__footer-social {
	display: flex;
	align-items: center;
	width: fit-content;
}

.redesign__footer a {
	display: flex;
	padding: 16px;
}

.redesign__footer-location {
	display: flex;
	gap: 40px;
}

.redesign__footer-location-item-details {
	display: flex;
}

.redesign__footer-location-item-details img {
	width: 16px;
	padding: 0;
	border: 0;
	margin-right: 8px;
	object-fit: contain;
}

.redesign__footer-location-item {
	display: flex;
	flex-direction: column;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	max-width: 260px;
}

.redesign__footer-location-item span {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;

}

@media screen and (max-width: 1279px) {
	.redesign__footer {
		padding: 32px 16px;
		flex-direction: column;
	}

	.redesign__footer-location {
		flex-direction: column;
		width: 100%;
	}

	.redesign__footer-location {
		display: flex;
		gap: 12px;
	}

	.redesign__footer-social {
		display: flex;
		align-items: center;
		width: fit-content;
		border-bottom: 1px solid #DDDDDD;
		width: 100%;
		justify-content: center;
		margin-bottom: 16px;
	}
}


@media screen and (max-width: 768px) {
	:root {
		font-size: 12px;
	}
}